# Node
node_modules
.next
dist
coverage
playwright-report
test-results
output/playwright
*.tsbuildinfo

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / Editor
.DS_Store
.idea
.vscode

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Prisma
prisma/dev.db
prisma/dev.db-journal
